<div class="protips-index">

	<div class ="add-feedback">
		<div class ="text-wrapper">
			<div class="text1">Have a protip to share?</div><%= link_to '<i class="fa fa-pencil-square-o"></i> Add a Protip'.html_safe, new_protip_path %>
		</div>
	</div>

	<ul class = "protips-list">
		<% @protips.each do |p| %>
			<li><div onclick="location.href='<%= protip_path(p.id) %>';"><%= p.title %></div>
				<%= p.votes.size %>
			</li>
		<% end %>

	</div>

</div>
<script>
	$('body').addClass('protips-index-bg');
</script>

