<div id="test-popup" class="modal-popup mfp-hide">
	<%= render "phillytips" %>
</div>

<div class="protips-index">

	<div class ="add-feedback">
		<div class ="text-wrapper">
			<div class="text1">Have a protip to share?</div><%= link_to '<i class="fa fa-pencil-square-o"></i> Add a Protip'.html_safe, new_protip_path %>
		</div>
	</div>


<a href="#test-popup" class="open-popup-link">Show inline popup</a>



	<ul class = "protips-list">
		<% @protips.each do |p| %>
			<li><div onclick="location.href='<%= protip_path(p.id) %>';"><%= p.title %></div>

			</li>
		<% end %>

	</div>

</div>
<script>

$('.open-popup-link').magnificPopup({
  type:'inline',
  midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
});
	$('body').addClass('protips-index-bg');

</script>

