<%= form_for @user, :url => user_path(@user), :html => { :multipart => true } do |form| %>
  <%= form.file_field :profile_picture %>
  <div><input type="submit" name="commit" value="Save" /></div>
<% end %>