<div class="row-fluid email-confirm">
	<div class="span10 offset1">
			<span class="container">
				<h1>Welcome to mcit social!</h1>
				<h3>Your log-in email is </h3>
				<div class="button">Confirm my account</div>
			</span>
		</div>
</div>