<div class="companies-index">
<ul class="companies-list">
<%  @companies.each do |company| %>
	<li><div class="company-name"><%= company.name %></div>

		<% num_comments = company.num_comments.to_s %>
		<% comments_link = "<i class='fa fa-comments'></i><div class='number'>" + num_comments + "</div>" %>
		<% num_questions = company.num_questions.to_s %>

		<%= link_to comments_link.html_safe, company, :title => num_comments + " comment(s) added", :class => 'comments' %>

		<%= link_to "<i class='fa fa-question-circle'></i>".html_safe, company, :class => "questions", :title => num_questions + " question(s) added" %>
	</li>
<% end %>
</ul>

</div>

<script>
$('body').addClass('companies-index-bg');
$('.comments').tipsy({gravity: 'sw'});
$('.questions').tipsy({gravity: 'sw'});
</script>