$midnight-blue: #2c3e50;
$pumpkin: #d35400;
$lobster: 'Lobster', cursive;
$roboto: 'Roboto', sans-serif;

body {
	font-family: $roboto;
}

a:hover {
	text-decoration: none;
}

* {
	word-wrap: break-word;
}

.navbar {
	opacity: 0.7;

	.navbar-right {
		float: right;
	}

	.sign-in-status {
		color: #777777;
		padding: 10px 15px;
	}
}

.brand {
	font-family: $lobster;
}

.button {
	font-family: $roboto;
	margin-top: 1em;
	width: 100%;
    border: none;
    display: block;
    background: rgba(26,188,156,1);
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-shadow: 0px 5px 1px #0F7561;
  	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.button:hover, .button:active {
  background: rgba(22,160,133,1);
  box-shadow: 0px 5px 1px #0F7561;
  text-decoration: none;
  cursor: pointer;
}

.alert, .notice {
	font-family: $roboto;
	font-size: 1.25em;
	font-weight: 300;
	text-align: center;
	width: auto;
	background-color: rgba(230,126,34,1);
	color: white;
	border: none;
}

.landing, .signup, .email-confirm {

	text-align: center;
	margin-top: 10%;
	color:white;
	font-family: $roboto;

	.container {
		background: rgba(0,0,0,0.5);
		width: auto;
		padding: 3em;
		display: inline-block;
		text-align: center;
	}

	form {
		margin: 2em;
	}

	h1 {
		font-family: $lobster;
		color: white;
		font-size: 5.5em;
		margin-bottom: 0.5em;
	}

	h2 {
		color: white;
		margin-top: 1em;
	}

	label {
		font-size: 1em;
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}

	form {
    	margin: 1em;
	}

	form input[type=text],
	form input[type=password], 
	form input[type=email] {
		text-align: center;
		font-weight: 400;
	    font-size: 1.5em;
	    letter-spacing: 1px;
	    width: inherit;
	    height: 40px;
	    line-height: 40px;
	    margin-top: 0.5em;
	    background: rgba(255,255,255,0.2);
	    border: none;
	    outline: none;
	    border-radius: 0px;
	    color: white
	}

	input[type=submit] {
		width: 100%;
	}

}

.email-confirm {
	margin: 0;
	font-family: $roboto;
	background: black;

	.button {
		width: inherit;
	}

	h1 {
		font-family: $lobster;
	}

	h3 {
		font-weight: 300;
	}
}

.profile-show, .profile-edit {

	.hero-unit {
		border-radius: 0px;
	}

	.profile-leftbox {
		background-color: black;
		background: rgba(255,255,255, 0.7);
		border: 1px solid;
		border-color: white;
		padding: 0.75em;
		color: black;

		h2, h4 {
			font-weight: 300;
		}

		h4 {
			font-style: italic;
		}

		hr {
			border-color: black;
			opacity: 0.5;
		}

		.profile-picture {
			width: 100%;
			margin-bottom: 1.5em;
		}

		.button {
			width: inherit;
		}

		.edit-user {
			margin-top: 0.5em;
			background: #3498db;
			box-shadow: 0px 5px 1px #1A6291;
		}

		.edit-user:hover, .edit-user:active {
			background: #2980b9;
		}
	}

	.info-box {

		background-color: black;
		background: rgba(0, 0, 0, 0.7);
		border: 1px solid;
		border-color: black;
		color: white;
		padding-top: 1em;
		padding-bottom: 1em;

		h2 {
			margin-bottom: 1em;
			font-family: $lobster;
			letter-spacing: 1px;
		}

	}

	.tag {
	  border-radius: 4px;
	  background-color: #1abc9c;
	  color: #ffffff;
	  cursor: pointer;
	  display: inline-block;
	  margin-right: 5px;
	  margin-bottom: 5px;
	  line-height: 15px;
	  padding: 1em;
	  padding-top: 0.5em;
	  padding-bottom: 0.5em;
	  position: relative;
	  vertical-align: middle;
	  -webkit-transition: 0.25s linear;
	  transition: 0.25s linear;
	  text-transform: uppercase;
	}

	.tag:hover {
	  background: #2980b9;
	}

}

.profile-edit {

	.profile-leftbox {

		input[type=submit] {
			width: 100%;
		}
	}

	form {
		padding: 1em;
	}

	form input[type=file] {
		margin-bottom: 1em;
	}

	form input[type=text],
	form input[type=password], 
	form input[type=email], 
	textarea {
		text-align: left;
		font-weight: 400;
	    letter-spacing: 1px;
	    width: 100%;
	    height: 30px;
	    line-height: 40px;
	    background: rgba(0,0,0,0.2);
	    border: none;
	    outline: none;
	    border-radius: 0px;
	    color: black;
	    border-bottom: 1px solid;
	    border-color: black;
	}

	textarea {
		height: 200px;
		resize: none;
		border-bottom: 0;
	}

	.info-box {
		textarea {
			height: 100px;
			background: rgba(255,255,255,0.1);
			color: white;
			font-size: 1em;
		}
	}

	form label {
		font-family: $roboto;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.radiolabel {
		text-transform: none;
	}

	.buttongroups {
		padding-top: 1em;
	}

	.button {
		font-size: 1em;
		font-weight: 300;
		padding: 0.5em 1em 0.5em 1em;
	}

	
}

.user-index {

	.profile-thumb {
		padding: 1em;
		background-color: black;
		background: rgba(0, 0, 0, 0.7);
		border-radius: 0px;
		color: white;
		margin-bottom: 1em;
		margin-left: 0;
		text-align: center;
		-webkit-transition: 0.25s linear;
	  	transition: 0.25s linear;
	}

	.profile-thumb:hover {
		background: black;
		background: rgba(0, 0, 0, 1);
	}

	.picture-thumb {
		width: 100%;
		min-height: 200px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 1em;
	}

	.status-ribbon {
		float: right;
	}

	.current-ribbon {
		float: right;
		background-image: url("../assets/current.png");
		background-repeat:no-repeat;
		width: 85px;
		height: 101px;

		.yr {
		  margin-top: 30px;
		  -webkit-transform: rotate(-90deg);
		  -moz-transform: rotate(-90deg);
		  -ms-transform: rotate(-90deg);
		  -o-transform: rotate(-90deg);
		  transform: rotate(-90deg);
		  text-shadow: 3px 3px #000000;
		}
	}

	.span3:nth-child(5n) {
		margin-left: 0;
	}

	.show-name {
		margin: 1em;
		margin-top: 0.5em;
	}

	.button {
		font-size: 1em;
		width: inherit;
		background: none;
		border: 1px solid;
		border-color: white;
		box-shadow: none;
		opacity: 0.7;
	}

	.button:hover, .button:active {
		background: $midnight-blue;
		opacity: 1;
	}

	img {
		margin-bottom: 1em;
	}
}


/* Classes that are dynamically added */

/* Background Image Classes */
.background-image1 {

	background: url('../assets/landing_background1.png') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

}

.background-image2 {

	background: url('../assets/landing_background2.png') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.background-image3 {

	background: url('../assets/landing_background3.png') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

}

