.landing {

	text-align: center;
	margin-top: 15%;	
	color:white;
	

}

.signup {
	
	h1, h2, h3, h4, h5, h6, h7{
		color:green;
	}

}

/* Classes that are dynamically added */

/* Background Image Classes */
.background-image1 {

	background: url('../assets/landing_background1.png') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

}

.background-image2 {

	background: url('../assets/landing_background2.png') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.background-image3 {

	background: url('../assets/landing_background3.png') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

}
