<%= stylesheet_link_tag "style" %>
<div class="row-fluid email-confirm">
	<div class="span10 offset1">
			<span class="container">
				<h1>Welcome to mcit social!</h1>
				<h3>Your log-in email is <%= @email %>.</h3>
				<%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), :class => "button" %>
			</span>
		</div>
</div>